/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styling */
*{
  box-sizing:border-box;
}

body{
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  background: #f6f6f6;
}
main{
  background: white;
  border-style: solid;
  border-width: thin;
  border-color: #a7d7f9;
}
h1, h2{
  font-family: 'IBM Plex Serif', serif;
}
.left-side{
  font-family: 'Roboto Condensed', sans-serif;
}
body{
  position: relative;
}

.left-side{
  position: absolute;
  left: 5vh;;
  top: 0;
  width: 15%;
  text-align: left;
}
.content{
  position: absolute;
  right: 0;
  width: 85%;
  top: 10vh;
}
.left-side img{
  width: 60%;
  margin: 2rem .5rem;

}
.head{
  position: absolute;
  right: 0;
  top: 0;
}
.head a{
  padding: .2rem;
}
footer{
  position: absolute;
  bottom: 0;
  right: 0;
  visibility: hidden;
}
.left-box{
  padding: .5rem;
}
a{
  color: #0645c7;
  text-decoration-line: none;
    
}
.left-box p{
  padding: .2rem;
}
h1{
  padding: .2rem 0;
  font-size: 2rem;
  font-style: italic;
}
h2{
  font-size: 1.5rem;
  padding: .3rem;
}
h4{
 font-size: .8rem;
  letter-spacing: .02rem;
  margin: .4rem;
}
ol{
  list-style-type: decimal;
  margin: .4rem;
}
li{
  margin: .8rem
}
p{
  letter-spacing: .01rem;
  margin: .4rem;
  line-height: 1.3rem;
}
tr, td{
  padding-bottom: .6rem;
}
.story, .gameplay, .game, .easter, .references, .external{
  margin: .4rem;
  padding: .3rem;
}
.info-right{
  float: right;
  padding: 0 0 .3rem .3rem;
  text-align: center;
}
small{
  text-align: center;
  font-size: .7rem;
  padding: 6rem;
  margin: 1rem;
}
strong{
  font-weight: bold;
}
.info-right img{
  padding: .4rem 2rem;
}
.info{
  float: left;
  width: 16%;
  font-size: .8rem;
}
.info img{
  display: block;
  width: 95%;
  margin-left:auto;
  margin-right: auto;
  
}
a:hover{
  /* underline */
}
.info, .info-right, .info-1{
  border: #a2a9b1 solid 1px
}
.info-1{
  width: 12%;
  margin: 1rem;
}
h2::after{
  display: block;
  content:"";
  background-color: #a2a9b1;
  height: 1px;
  width: 50rem;
}
.easter h2::after{
  width: 66rem;
}
.references h2::after{
  width: 66rem;
}
.external h2::after{
  width: 66rem;
}
h1::after{
  display: block;
  content:"";
  background-color: #a2a9b1;
  height: 1px;
  width: 70rem;
}
a:hover{
  text-decoration: underline;
}